-#-@real_banners=Banner.where(frequency!=0)
-benners = Banner.where("frequency != ?", 0).count
-if benners>0
  .col-md-12
    .jumbotron
      #carousel-example-generic.carousel.slide{"data-ride" => "carousel"}
        / Indicators


        %ol.carousel-indicators
          %li.active{"data-slide-to" => "1", "data-target" => "#carousel-example-generic"}
          -benners.times do
            %li{"data-slide-to" => "2", "data-target" => "#carousel-example-generic"}


        / Wrapper for slides

        .carousel-inner{:role => "listbox"}
          .item.active.center
            =image_tag "filmbase_logo.png", class: "img_some", :style => "border: 15px solid"
          -@banners.each do |banner|

            -if banner.can_show? #{:controller => "film", :action => "click", :banner => banner.id }
              .item.center
                = link_to banner.film,:options => {method: :click} , class: "form-group" do

                  =image_tag banner.image.url(:medium), class: "img_some", :style => "border: 15px solid"
                  -banner.decrease_f
                  .carousel-caption
                    -#=link_to 'Показать', banner.film
                    -#=link_to '',line_items_path(id:item.id,place:"line_items"),data:{method: :post}, class:"btn btn-mini glyphicon glyphicon-plus"


        / Controls
        %a.left.carousel-control{"data-slide" => "prev", :href => "#carousel-example-generic", :role => "button"}
          %span.glyphicon.glyphicon-chevron-left{"aria-hidden" => "true"}
          %span.sr-only Назад
        %a.right.carousel-control{"data-slide" => "next", :href => "#carousel-example-generic", :role => "button"}
          %span.glyphicon.glyphicon-chevron-right{"aria-hidden" => "true"}
          %span.sr-only Вперед
-#-else
-#  .col-md-12
-#    %b

-#-@banners.count

-#
-#
-##carousel-example-generic.carousel.slide{"data-ride" => "carousel"}
-#  / Indicators
-#  %ol.carousel-indicators
-#    %li.active{"data-slide-to" => "0", "data-target" => "#carousel-example-generic"}
-#    %li{"data-slide-to" => "1", "data-target" => "#carousel-example-generic"}
-#    %li{"data-slide-to" => "2", "data-target" => "#carousel-example-generic"}
-#  / Wrapper for slides
-#  .carousel-inner{:role => "listbox"}
-#    .item.active
-#      =image_tag ("banner1.jpg"), :height => "513", :width => "100"
-#      .carousel-caption
-#        =link_to 'Показать', @banner
-#    .item
-#      =image_tag ("banner4.jpg"), :width => "1300"
-#      .carousel-caption
-#    .item
-#      =image_tag ("banner5.jpg"), :width => "1300", align: "center"
-#      .carousel-caption
-#
-#
-#
-#
-#  / Controls
-#  %a.left.carousel-control{"data-slide" => "prev", :href => "#carousel-example-generic", :role => "button"}
-#    %span.glyphicon.glyphicon-chevron-left{"aria-hidden" => "true"}
-#    %span.sr-only Назад
-#  %a.right.carousel-control{"data-slide" => "next", :href => "#carousel-example-generic", :role => "button"}
-#    %span.glyphicon.glyphicon-chevron-right{"aria-hidden" => "true"}
-#    %span.sr-only Вперед
